@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*::-webkit-scrollbar {
  display: none;
}

h1, h2,h3, h4, h5, h6, label, input, p, a, button, ::placeholder{
  color: #1F2421;
  font-family: Poppins;
}

html, body {
  overflow-x: hidden;
}

input {
  font-size: 20px;
}
::placeholder {
  font-size: 16px;
}

label {
  color: #95989d;
}

.shadowboxer {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.registerbuttons:hover {
  background-color: #8883f0;
  transition: 0.3s;
}

.registerbuttons:hover > h1 {
  color: white;
  transition: 0.3s;
}

.removeunderline {
  margin-top: 12px;
  border: 2px solid rgb(241, 245, 249);
  font-weight: 500;
}

.removeunderline:hover {
  margin-top: 12px;
  border-bottom: 1.5px solid #8883f0;
  border-opacity: 0;
  transition: 0.1s;
}

#sidebaractive {
  background-color: #6c65eb;
}

#ctbackground {
  background-color: #dee7ee;
  transition: 0.3s;
  border: 2px solid #eff3f6;
}

#ctbackground:hover {
  background-color: #eff3f6;
}

#medbackground {
  background-color: #dee7ee;
  transition: 0.3s;
  border: 2px solid #d6d9dc;
}

#medbackground:hover {
  background-color: #eff3f6;
  transform: scale(1.02);
}

#callbackground {
  background-color: #8883f0;
  transition: 0.3s;
  color: white;
}

#callbackground:hover {
  transform: scale(1.05);
}

#upbackground {
    background-color: #dee7ee;
    transition: 0.3s;
    border: 2px solid #d3d7da;
  }
  
  #upbackground:hover {
    background-color: #0083e7;
  }

  /* global.css */
.z-50 {
  z-index: 50;
}

.z-40 {
  z-index: 40;
}

.hiddenx {
  overflow-x: hidden;
}
